@import 'tailwindcss';
@config "../tailwind.config.ts";

:root {
  --color-primary: 30 64 175; /* blue-800 */
  --color-secondary: 30 41 59; /* slate-800 */
  --color-secondary-hover: 2 6 23; /* slate-900 */
  --color-accent: 234 179 8; /* yellow-500 */
  --color-accent-hover: 217 119 6; /* yellow 600 */
  --color-neutral: 0 0 0; /* black */
  --color-surface: 245 245 245; /* gray */
}

.dark {
  --color-primary: 234 179 8; /* yellow-500 (#eab308) */
  --color-primary-hover: 217 119 6; /* yellow 600 */
  --color-secondary: 30 41 59; /* slate-800 (#1e293b) */
  --color-secondary-hover: 2 6 23; /* slate-900 */
  --color-accent: 30 64 175; /* blue-800 */
  --color-neutral: 240 240 240; /* gray (#8f8f8f) */
  --color-surface: 30 41 59; /* slate 800 */
}

@layer components {
  .animation-card {
    @apply hover:shadow-xl hover:-translate-y-2 transition duration-300 dark:hover:bg-slate-700/10;
  }
}
